@model List<Vidly.Models.Movies>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Movies</h2>
@Html.ActionLink(
    linkText: "Add Movie",
    actionName: "New",
    controllerName: "Movies",
    routeValues: null,
    htmlAttributes: new { @class = "btn btn-primary" })
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var movies in Model)
        {
            <tr>
                <td> @Html.ActionLink(
                         linkText: @movies.Name,
                         actionName: "Edit",
                         controllerName: "Movies",
                         routeValues: new { moviesId = @movies.Id },
                         htmlAttributes: null)
                    </td>
                <td>@movies.Genres.Name</td>
            </tr>
        }*@
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data:
                            "name", @*This maps to the json column with name - small letter because it was changed to camel case*@
                        render: function(data, type, movies) {
                            return "<a href='/customers/edit/" + movies.id + "'>" + movies.name + "</a>";
                        }
                    },
                    {
                        data: "genres.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-movies-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customers?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movies-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });

                            }
                        });

                });


        });
    </script>
}
